@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icon1 {
  display: flex;
  top: 130px;
  margin: 0 auto;
  position: relative;
}

.icon2 {
  width: 20px;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  padding-top: 20px;
  width: 150px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
  font-size: 85%;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.modal-inner-date input {
  outline: none;
  border: none;
}

.modal-inner-time input {
  outline: none;
  border: none;
}

/* スクール予約詳細 */
.h-75 {
  border-radius: 10px;
}

.border {
  border-radius: 10px;
}

.h-75 table {
  width: 100%;
}

#tr1 {
  background-color: #03AAD2;
}


/* 奇数番目の色を指定 */
#table1 tr:nth-child(2n+1) td {
  background-color: #C2EEFF;
}

#table1 tr:nth-child(2n) td {
  background-color: #fff;
}

.h-75 th {
  color: #fff;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */

.post_status {
  margin-left: 550px;
}

.post_area a {
  color: #494949;
  font-weight: bold;
}

.post-btn {
  background: #03AAD2;
  border-radius: 5px;
  text-align: center;
  height: 35px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.post-btn a {
  color: #FFF;
  font-size: 90%;
}

.search-btn {
  letter-spacing: -0.5rem;
  margin-bottom: 10px;
}

.search-btn input[type=text] {
  display: inline-block;
  border-width: thin;
  width: 78%;
  height: 35px;
  background: #ECF1F6;
  border: 1.5px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-btn input[type=submit] {
  display: inline-block;
  height: 35px;
  vertical-align: top;
  font-size: 90%;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  width: 22%;
  background: #03AAD2;
}

.likes_btn {
  background: #e38eab;
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  color: #FFF;
  width: 48%;
  height: 35px;
}

.my_post_btn {
  background: #DAA520;
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  color: #FFF;
  width: 50%;
  height: 35px;
  margin-bottom: 10px;
}

/* カテゴリモーダル */
.main_categories {
  border-bottom: 1px solid;
  margin-left: 10px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}

.main_categories::after {
  border-right: solid 2px;
  border-top: solid 2px;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 38%;
  transform: rotate(-45deg);
  width: 8px;
}

.main_categories.open::after {
  transform: rotate(-225deg);
  position: absolute;
  display: block;
}


.sub_categories input {
  display: none;
  margin-left: 20px;
  font-size: 0.8rem;
  width: 80%;
  text-align: left;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: #ECF1F6;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */

.m-3 {
  border-radius: 5px;
}

.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #03AAD2;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #ECF1F6;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 10px;
  background: #fff;
  font-weight: bold;
}

.one_person div span:first-child {
  color: #999;
}

.one_person a span {
  color: #03AAD2;
}

.search_conditions {
  width: 80%;
  border-bottom: 1px solid #ccc;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #ECF1F6;
}

.search_conditions::after {
  border-right: solid 2px;
  border-top: solid 2px;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 80px;
  top: 52%;
  transform: rotate(-45deg);
  width: 8px;
}

.search_conditions.open::after {
  top: 51%;
  transform: rotate(-225deg);
  position: absolute;
  display: block;
}

.subject_edit_btn {
  font-size: 12px;
  color: #03AAD2;
  cursor: pointer;
}

.subject_edit_btn::after {
  border-right: solid 2px;
  border-top: solid 2px;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 1000px;
  top: 46.5%;
  transform: rotate(-45deg);
  width: 8px;
}

.subject_edit_btn.open::after {
  top: 46%;
  transform: rotate(-225deg);
  position: absolute;
  display: block;
}

.subject_inner {
  display: none;
}

.subject_inner form {
  display: flex;
}

.subject_inner form div {
  margin: 10px 5px 0 0;
}

.free_word {
  height: 35px;
  width: 80%;
  background: #DDDDDD;
  border: none;
  font-size: 80%;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search_area select {
  height: 35px;
  width: 80px;
  background: #DDDDDD;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.search_area label {
  color: #483D8B;
}

.category-select label {
  width: 100%;
}

.user-search-btn input {
  border: none;
  height: 35px;
  width: 80%;
  color: #fff;
  font-size: 80%;
  border-radius: 5px;
  background: #03AAD2;
  margin-bottom: 10px;
}

.reset-btn input {
  border: none;
  background: #ECF1F6;
  color: #03AAD2;
  font-size: 80%;
  width: 80%;
}

/* ユーザープロフィール */
